*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    overflow-x: hidden;
    max-width: 100%;
     ;
}
.top-header{
    position: sticky;
    top: 0;
    text-align:center;
    color: yellow;
    background-color: #333;
  
}

.top-title {
    padding-top: 0.4rem;
    font-size: 3rem;
    padding-bottom:0.4rem;
    font-family:Times New Roman;
     background-color: #06032e;
}

.carousel{
  margin-top: 9rem;
z-index: -1;
}
.navbar,.dropdown-menu{
  background-color: #333 !important;

}



.navbar a{
  color:white !important;
  font-family:'Times New Roman', Times, serif;
}
.navbar-toggler{
  background-color: white !important;
}







.desc1-section{
  margin-top:40px;
}
.desc1-col img{
  display:block;
  margin-right:auto;
  margin-left:auto;
  width:100%;
}
.desc1-col p{
  text-align: center;
  font-size:13px;
  line-height:30px;
  padding-top:20px;
  padding-left:40px;
  padding-right:40px;
  padding-bottom:20px;
  background-color:#f4f4f4;
  margin-bottom:0px !important;
}



.desc2-section{
  margin-top:40px;
  margin-bottom:40px; 
}

.desc2-col p{
  text-align: center;
  font-size:13px;
  line-height:30px;
  padding-top:40px;
  padding-left:40px;
  padding-right:40px;
  padding-bottom:200px;
  background-color:#f4f4f4;
  margin-bottom:0px !important;
  margin-top:70px !important;
}


.desc2-col h2{
    
    text-align:center;
   
}







/*product*/

.product-pr{
     margin-top:9rem !important;
     
}



.container-product {
    margin: auto;  /*  Aligning the Products into Center         */
    position: relative;
    background-color: #e3e3e3;
    max-width: 300px;
    margin-right:auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    /*        Frames around the card              
    padding-top: 5px;   
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
   */
  }
  
  .image-pr {
    border-radius: 2px;
    max-width: 300px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
     
    
  }
  
  .middle-pr {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container-product:hover .image-pr { /* The :hover selector is used to select elements and do various things
                                             when moving mouse over them.                                   */
    opacity: 0.3;
  }
  
  .container-product:hover .middle-pr {
    opacity: 1;
  }
  
  .middle-pr  button {
      border-radius: 2px;
      width: 100px; /* Button will fit into the card */
      padding: 10px;
      background-color: black;
      color: aliceblue; /* text color*/
      border: none;  /* This will remove the buton borber*/
    
  }
  .p_tag{
    color: black;
    font-size:20px;
}
.dress-code{
    font-family:themes new roman;
    font-size:25px;
     color:black;
}



.desc-pr{
  margin-top:40px;
  margin-bottom:40px; 
}



.product-topic{
    
    padding-top:10px;
    padding-bottom:10px;
    color:white;
    background-color:#302e2e;
    font-family:thems new roman;
    margin-top:5px;
    text-align:center;
    letter-spacing:10px; 
    margin-top:10rem ;
    
}







/*Product description*/

.card-wrapper{
  max-width: 1100px;
  margin: 0 auto;
}
img{
  width: 100%;
  display: block;
}
.img-display{
  overflow: hidden;
}
.img-showcase{
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.img-showcase img{
  min-width: 100%;
}
.img-select{
  display: flex;
}
.img-item{
  margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
  margin-right: 0;
}
.img-item:hover{
  opacity: 0.8;
}
.product-content{
  padding: 2rem 1rem;
}
.product-title{
  font-size: 3rem; 
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  /*margin: 1rem 0;*/
}
.product-title::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}
/*.product-link{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}*/
.product-link:hover{
  opacity: 0.9;
}
.product-rating{
  color: #ffc107;
}
.product-rating span{
  font-weight: 600;
  color: #252525;
}
.product-price{
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.product-price span{
  font-weight: 400;
}
.last-price span{
  color: #f64749;
  text-decoration: line-through;
}
.new-price span{
  color: #256eff;
}
.product-detail h2{
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}
.product-detail p{
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}
.product-detail ul{
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-detail ul li{
  margin: 0;
  list-style: none;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.product-detail ul li span{
  font-weight: 400;
}
.purchase-info{
  margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}
.purchase-info input{
  width: 60px;
}
.purchase-info .btn{
  cursor: pointer;
  color: #fff;
}
.purchase-info .btn:first-of-type{
  background: #256eff;
}

.purchase-info .btn:hover{
  opacity: 0.9;
}
.social-links{
  display: flex;
  align-items: center;
}
.social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}
.social-links a:hover{
  background: #000;
  border-color: transparent;
  color: #fff;
}

@media screen and (min-width: 992px){
  .card{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
  }
  .card-wrapper{
      height: 150vh; 
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .product-imgs{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .product-content{
      padding-top: 0;
  }
.size {
display: inline-block;
width: 70px; 
height: 30px; 
text-align: center;
border:grey;
background-color: firebrick;
color:white;
cursor: pointer;
}


/*login*/
.hero
{
    height:100%;
    width:100%;
    background: linear-gradient(to right,#0c074a,#65cae0);
    background-position:center;
    background-size: cover;
    position: absolute;
}
.form-box{                         /*change*/
    width: 380px;
    height: 680px;
    position: relative;
    margin: 2% auto;
    background: #fff;
    padding: 5px;
    padding-bottom:50px;
    overflow: hidden;
}
.button-box{
    width:220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor:pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top:0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
}
.social-icons{
    margin: 30px auto;
    padding-left: 8rem;
    padding-bottom: 3rem;
}
.social-icons img{
    width:100px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius:50%;
}
.input-group
{
    padding-top: 3rem;
    top:180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field
{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width:85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border:0;
    outline: none;
    border-radius:30px;
}
.check-box{
    margin:30px 10px 30px 0;
}
span{
    padding-top: 10px;
    color:#777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login
{
    left: 50px;
}
#register
{
    left: 450px;
}
input:focus
{
    border-color:orange;
}




/*footer*/



.footer{
    width:100vw;
    display: block;
    overflow:hidden;
    padding-top:60px;
    padding-bottom:50px;
    box-sizing: border-box;
    background-color:#26261f;
    font-family:Times New Roman;
}

.inner_footer{
    display:block;
    margin: 0 auto;
    width: 1100px;
    height: 200px;
    font-family:Times New Roman;
  
}

.inner_footer .logo_container{
    
    width: 35%;
    float: left;
    height: 80%;
    display: block;
    font-family:Times New Roman;
    
}
.inner_footer .logo_container img{
   
    
    width: 50%;
    height: auto;
}

.inner_footer .logo_container img:hover{
     width: 55%;
    height: auto;
}


.inner_footer .footer_third{
    
    width: calc(21.6666666667% - 20px);
    float: left;
    height: 100%;
    font-family:Times New Roman;
    
}
.inner_footer .footer_third:last-child{
    
    margin-right:0; 
}

.inner_footer .footer_third h1{
     font-family:Times New Roman;
    font-size:18px;
    color: yellow;
    display: block;
    width:100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third a{
     font-family:Times New Roman;
    font-size:16px;
    color: white;
    display: block;
    font-weight: 200;
    width:100%;
   padding-bottom: 5px;
    text-decoration: none;
}


